[phases.setup]
nixPkgs = ["maven", "openjdk17"]

[phases.build]
cmds = [
    "mvn --version",
    "mvn clean package -DskipTests -Dmaven.test.skip=true"
]

[phases.start]
cmd = "java -Xmx512m -Xms256m -Dserver.port=$PORT -Dspring.profiles.active=prod -jar target/vitalexa-backend.jar"

[start]
runImage = "eclipse-temurin:17-jre"
